/* 
  +) 기본 reset.css 사용하면 box-sizing 등 모든 css가 모든 태그에 적용되지 않음(빠져있는 태그들 있음)
  => 필요한 css 속성들 내가 적당히 추가해서 custom reset.css 만드는게 좋을 듯
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
